.container{
  min-height: 100vh;
  width: 100%;
  color: #2b2b2b;
  background-color: #eaeaea;
  position: relative;
  // height: 100vh;
  // overflow: hidden;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);

  .modalCenter{
    background-color: #fff;
    width: 90vw;
    margin: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    position: relative;

    .closeModalButton{
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      color: #2b2b2b;
      transition: color .3s ease-in-out;

      &:hover{
        color: #bd98c5;
      }
    }

    .errorText {
      display: block;
      color: #cc3321;
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      width: 100%;
      gap: 1rem;

      strong{
        font-size: 1.5rem;
        color: #2b2b2b;
        margin-top: 1rem;
      }

      input{
        width: 100%;
        height: 2.5rem;
        padding: .5rem .75rem;
        font-size: 1rem;
        color: #555555;
        border-radius: .25rem;
        border: .2rem solid #a9757f;

        &:focus{
          outline: none;
          border: .2rem solid #bd98c5;
        }
      }

      textarea{
        width: 100%;
        padding: .5rem .75rem;
        font-size: 1rem;
        color: #555555;
        border-radius: .25rem;
        resize: vertical;
        height: 10rem;
        min-height: 5rem;
        max-height: 15rem;
        border: .2rem solid #a9757f;

        &:focus{
          outline: none;
          border: .2rem solid #bd98c5;
        }
      }

      button{
        align-self: flex-end;
        padding: .25rem 1rem;
        min-width: 7.5rem;
        min-height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .1rem;
        font-weight: bold;
        cursor: pointer;
        background-color: #bd98c5;
        border-radius: .25rem;
        border: .2rem solid #bd98c5;
        color: #fff;
        transition: all .3s ease-in-out;

        &:hover{
          background-color: #977a9e;
          border: .2rem solid #977a9e;
        }
      }
    }
  }
}

.signoutButton{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  transition: color .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  span{
    font-size: .875rem;
  }

  &:hover{
    color: #2b2b2b;
  }
}

nav{
  background: linear-gradient(90deg,#bd98c5,#f1a7b5);
  background-size: 200% 200%;
  animation: bgGradiente 20s ease infinite;
  

  @keyframes bgGradiente {
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
}

.navCenter{
  width: 90vw;
  max-width: 900px;
  margin: auto;
  padding: 3.5rem 0 2rem 0;

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    color: #fff;

    strong{
      font-size: 2rem;
    }
  }

  .code{
    background-color: #94ecd3;
    color: #fff;
    border-radius: .25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      font-size: 1rem;
      text-transform: capitalize;
      padding: 0 .5rem;
      letter-spacing: .1rem;
      font-weight: bold;
    }

    button{
      height: 100%;
      padding: .5rem;
      font-size: 1.25rem;
      border: none;
      border-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      transition: color .3s ease-in-out;

      &:hover{
        color: #bd98c5;
      }
    }
  }

  .searchForm{
    width: 100%;
    padding: .75rem 1rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    background-color: #f8f5f9;
    border: .0625rem solid #a9757f;
    color: #555555;

    input{
      flex: 9;
      height: 2rem;
      border-radius: 0;
      border: none;
      background: none;
      font-size: 1rem;
      padding-left: .5rem;
      

      &:focus{
        outline: none;
      }
    }

    button{
      flex: 1;
      border-radius: 0;
      border: none;
      background: none;
      color: #bd98c5;
      font-size: 1.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.createPostButtonWrapper{
  display: flex;
  justify-content: flex-end;
  padding-top: .5rem;

  .createPostButton{
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: color .3s ease-in-out;

    &:hover{
      color:#555555;
    }

    span{
      font-weight: bold;
      letter-spacing: .1rem;
    }

    svg{
      font-size: 1.25rem;
    }
  }
}

.main{
  width: 100%;
}

.mainCenter{
  width: 90vw;
  max-width: 900px;
  margin: auto;
  padding-block: 3rem;
}

.postsWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.emptyListText{
  text-align: center;
  display: block;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-transform: capitalize;
  color: #2b2b2b;
}